.footer {
	bpx-sizing: border-box;
	overflow: hidden;
	display: flex;
	padding: 14px 20px;
	width: 100%;
	background-color: #eeb647;
	border-radius: 0 0 10px 10px;
	color: white;
	text-align: center;
	bottom: 0;
	position: fixed;
}
